<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/index.css">
    <title>Trabalho de therads - TCD</title>
</head>

<body>
    <div id="container">
        <div class="title">
            <h1>Trabalho sobre thread - TCD</h1>

        </div>
        <div class="description">
            <span>
                Vetor de dados utilizado:
                <strong>{{dados}} </strong>
            </span>
        </div>
        <div class="description">
            <span>
                Total somado via thread:
                <strong>{{total}} </strong>
            </span>
        </div>
        <div class="datas-in-threads" v-if="msgsThreads">
            <ul>
                <li v-for="(value, idx) in msgsThreads" :key="idx">
                    <div class="message-1">
                        <span>
                            {{value.msg1}}
                        </span>
                        <span>
                            {{value.line}}
                        </span>
                        <span>
                            {{value.msg2}}
                        </span>
                        <span class="total">
                            {{value.result}}
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./logic/main.js"></script>
</body>

</html>