@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.title h1 {
    font-weight: 400;
}

.description {
    margin: 1rem 0;
}
.description span{
    font-size: 1.1em;
}
.description span strong{
    font-size: 1.5em;
}
.explain{
    text-align: center;
}
.explain span{
    font-size: .8em;
}

.datas-in-threads{
    /* border: 1px solid red; */
    /* hei */
    max-width: 1000px;
}
.datas-in-threads ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.datas-in-threads ul li{
    list-style: none;
    border: 1px solid;
    margin: .5rem 0;
    padding: .8rem;
    flex:  1 1 200px;
    border-radius: 10px;
}
.datas-in-threads ul li span{
    display: block;
    margin: 0 0 1rem 0;
}
.datas-in-threads ul li .total{
    font-weight: 700;
    margin: 1.5rem 0 .5rem;
}